<%- include("partials/header.ejs")%>
<h1 class="display-1">Campgrounds Page</h1>
<% campgrounds.forEach(function(campground){ %>
    <div>
        <li class="display-4"> <%= campground.name%> </li>
        <img src="<%= campground.img%>" alt="campground">
    </div>
<% })%>
<%- include("partials/footer.ejs")%>
