<%- include("partials/header.ejs")%>
<h1 class="display-1">Yelp Camp landing page</h1>
<h3 class="display-6"><a href="/campgrounds/new">Add new Campground</a></h3>

<p>Welcome to YelpCamp</p>

<a href="/campgrounds">All Campgrounds</a>
<%- include("partials/footer.ejs")%>